<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=e
    <div
        class="col-md-6 rounded-4 d-flex justify-content-center align.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>saFeTP | user-list </title>
</head>
<body>
    <div
        class="container d-flex justify-content-center align-items-center flex-column min-vh-100"
    >
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div
                class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #fee2ff"
            >
                <div class="featured-image mb-3">
                    <img src="" class="img-fluid" style="width: 250px" />
                </div>
                <!-- <p
                    class="text-white fs-2"
                    style="
                        font-family: 'Courier New', Courier, monospace;
                        font-weight: 600;
                    "
                >
                    SaFeTP
                </p>
                <small
                    class="text-white text-wrap text-center"
                    style="width: 17rem; font-family: 'Courier New', Courier, monospace"
                    >Join experienced Designers on this platform.</small -->
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo SaFeTP" style="width: 100%" />
            </div>
            <form action="/submit" method="POST" class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Halaman Input User</h2>
                        <p>Silakan inputkan nama user</p>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            class="form-control form-control-lg bg-light fs-6"
                            placeholder="input user"
                            id="user-input"
                        />
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <div class="tambah mb-5">
                            <button
                                class="btn btn-lg btn-success w-100 fs-6 rounded-3"
                                id="tambah"
                                type="button"
                            >
                                <i class="bx bx-plus"></i>
                                <span>Tambah</span>
                            </button>
                            <button
                                class="btn btn-lg btn-danger w-100 fs-6 rounded-3"
                                id="kurang"
                                type="button"
                                disabled
                            >
                                <i class="bx bx-minus-circle"></i>
                                <span>Kurang</span>
                            </button>
                        </div>
                        <button
                            class="btn btn-lg btn-primary w-100 fs-6 rounded-3"
                            id="submit"
                            type="submit"
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div
            class="row border rounded-5 p-3 bg-white shadow box-area mt-4"
            id="user-list"
        >
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama User</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- User list will be displayed here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Edit User Modal -->
    <div
        class="modal fade"
        id="editUserModal"
        tabindex="-1"
        aria-labelledby="editUserModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="edit-user-form">
                        <div class="mb-3">
                            <label for="edit-user-name" class="form-label">Nama User</label>
                            <input type="text" class="form-control" id="edit-user-name" />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Save changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
    ></script>
</body>
</html>
